body{
    background-image: url(pexels-liuguangxi-5863922.jpg);
    background-size: cover;
}
.main-div{
    display: flex;
gap: 30px;
/* padding: 10px; */
justify-content: center;

margin: 10%;

}


.post-card{
    display: block;
width: 350px;
border-radius: 10px;
overflow: hidden; 
box-shadow: o 4px 8px rgb(0,0,0,0.1)
 
    }
   
    
   .Post-content{
    padding: 10px;
    background-color: #ffff;
    font-size: 15px;
    text-align: center;
    color: #12cf41;
   }
   .Post-stats1{
    background-color: rgb(245, 29, 130);
    font-size:large;
    display: flex;
    justify-content: space-around;

}
.Post-stats2{
    background-color: hsl(12, 100%, 50%);
font-size:large;
    display: flex;
    justify-content: space-around;
}
.Post-stats3{
    background-color: rgb(7, 214, 7);
    font-size:large;
    display: flex;
    justify-content: space-around;
}


.Post-content p1{
    color: rgb(224, 64, 91);
}
.Post-content p4{
color: rgb(243, 82, 24);
}
.post-card p3{
    color: green;
}
.Post-content h1{
    color: black;
}
.image{
    width: 350px;
    height: 350px;
}
.Post-content p2{
    color: rgb(104, 93, 93);
}


